* {
  margin: 0;
  padding: 0;
}
#pannel {
  position: absolute;
}
.dragger-rotate-point {
  position: absolute;
  left: 50%;
  width: 5px;
  height: 5px;
  margin-left: -3px;
  border-radius: 5px;
  border: 1px solid #000;
  top: -30px;
  cursor: url(http://hr.xesv5.com/docs/imgs/mouserotate.ico) 10 10, default;
}
.dragger-rotate-point span {
  position: absolute;
  top: 6px;
  left: -6px;
}
.dragger-rotate-point:after {
  content: '';
  display: inline-block;
  height: 23px;
  width: 1px;
  position: absolute;
  left: 2px;
  top: 6px;
  background: #000;
  cursor: auto;
}
.dragger-rotate-angle {
  position: absolute;
  left: 52%;
  top: -20px;
}
.dragger-position {
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  padding: 0 3px;
  background: #fafafa;
  border: 1px solid #ccc;
  bottom: -35px;
  border-radius: 2px;
}
.dragger-base-piont {
  position: absolute;
  width: 5px;
  height: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
}
.dragger-zoom1 {
  left: -3px;
  top: -3px;
  cursor: nw-resize;
}
.dragger-zoom2 {
  left: -3px;
  bottom: -3px;
  cursor: sw-resize;
}
.dragger-zoom3 {
  right: -3px;
  top: -3px;
  cursor: ne-resize;
}
.dragger-zoom4 {
  right: -3px;
  bottom: -3px;
  cursor: se-resize;
}
.dragger-pull5 {
  left: 50%;
  margin-left: -3px;
  top: -3px;
  cursor: row-resize;
}
.dragger-pull6 {
  top: 50%;
  margin-top: -3px;
  left: -3px;
  cursor: col-resize;
}
.dragger-pull7 {
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  cursor: row-resize;
}
.dragger-pull8 {
  top: 50%;
  margin-top: -3px;
  right: -3px;
  cursor: col-resize;
}
.dragger-base-line {
  position: absolute;
}
.dragger-line1 {
  width: 1px;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
}
.dragger-line2 {
  height: 1px;
  width: 100%;
  left: 0;
  background: #000;
  top: 0;
}
.dragger-line3 {
  width: 1px;
  height: 100%;
  background: #000;
  right: 0;
  top: 0;
}
.dragger-line4 {
  height: 1px;
  width: 100%;
  left: 0;
  background: #000;
  bottom: 0;
}